In [1]:
from nltk.tokenize import word_tokenize, sent_tokenize, RegexpTokenizer
import pandas as pd
from contractions import fix
from os.path import basename, splitext
import glob
from preprocess import clean

[nltk_data] Downloading package punkt to /home/ishikaa/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ishikaa/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
tk = RegexpTokenizer("[\w]+")

In [3]:
res = pd.DataFrame()
for file in glob.glob("Stories/*.txt"):
    with open(file) as f:
        title = f.readline()
        textf = " ".join(line.strip() for line in f)
    res = pd.concat([res,pd.DataFrame(data = {"Title" : title.strip(), "Story" : [textf]})])

In [4]:
res.reset_index(drop=True, inplace=True)

In [5]:
res

,Title,Story
0,Jack and the Beanstalk,Once upon a time there lived a poor widow and ...
1,Little Red Riding Hood,Once upon a time there was a dear little girl ...
2,Henny-Penny: The Sky is Falling!,One day Henny-penny was picking up corn in the...
3,The Little Match Girl,"Most terribly cold it was; it snowed, and was ..."
4,The Bogey-Beast,"There was once a woman who was very, very chee..."

In [47]:
df['Story'] = df['Story'].apply(lambda x: fix(x))

In [33]:
# res['Story'] = clean(res['Story'].values)

In [48]:
res['Word'] = res['Story'].apply(lambda x: tk.tokenize(x))
res['Sent'] = res['Story'].apply(lambda x: sent_tokenize(x))
# res['Word_Token'] = res['Story'].apply(lambda x: word_tokenize(x))

In [35]:
res.reset_index(drop=True, inplace=True)

In [49]:
res

,Title,Story,Word,Sent
0,Jack and the Beanstalk,Once upon a time there lived a poor widow and ...,"[Once, upon, a, time, there, lived, a, poor, w...",[Once upon a time there lived a poor widow and...
1,Little Red Riding Hood,Once upon a time there was a dear little girl ...,"[Once, upon, a, time, there, was, a, dear, lit...",[Once upon a time there was a dear little girl...
2,Henny-Penny: The Sky is Falling!,One day Henny-penny was picking up corn in the...,"[One, day, Henny, penny, was, picking, up, cor...",[One day Henny-penny was picking up corn in th...
3,The Little Match Girl,"Most terribly cold it was; it snowed, and was ...","[Most, terribly, cold, it, was, it, snowed, an...","[Most terribly cold it was; it snowed, and was..."
4,The Bogey-Beast,"There was once a woman who was very, very chee...","[There, was, once, a, woman, who, was, very, v...","[There was once a woman who was very, very che..."

In [51]:
res.to_json('Segmented.json')

In [4]:
df = pd.read_csv('Segmented.csv')
df

,Title,Story,Word,Sent
0,Jack and the Beanstalk,Once upon a time there lived a poor widow and ...,"['Once', 'upon', 'a', 'time', 'there', 'lived'...",['Once upon a time there lived a poor widow an...
1,Little Red Riding Hood,Once upon a time there was a dear little girl ...,"['Once', 'upon', 'a', 'time', 'there', 'was', ...",['Once upon a time there was a dear little gir...
2,Henny-Penny: The Sky is Falling!,One day Henny-penny was picking up corn in the...,"['One', 'day', 'Henny', 'penny', 'was', 'picki...",['One day Henny-penny was picking up corn in t...
3,The Little Match Girl,"Most terribly cold it was; it snowed, and was ...","['Most', 'terribly', 'cold', 'it', 'was', 'it'...","['Most terribly cold it was; it snowed, and wa..."
4,The Bogey-Beast,"There was once a woman who was very, very chee...","['There', 'was', 'once', 'a', 'woman', 'who', ...","['There was once a woman who was very, very ch..."

In [5]:
df = pd.read_json('Segmented.json')
df

,Title,Story,Word,Sent
0,Jack and the Beanstalk,Once upon a time there lived a poor widow and ...,"[Once, upon, a, time, there, lived, a, poor, w...",[Once upon a time there lived a poor widow and...
1,Little Red Riding Hood,Once upon a time there was a dear little girl ...,"[Once, upon, a, time, there, was, a, dear, lit...",[Once upon a time there was a dear little girl...
2,Henny-Penny: The Sky is Falling!,One day Henny-penny was picking up corn in the...,"[One, day, Henny, penny, was, picking, up, cor...",[One day Henny-penny was picking up corn in th...
3,The Little Match Girl,"Most terribly cold it was; it snowed, and was ...","[Most, terribly, cold, it, was, it, snowed, an...","[Most terribly cold it was; it snowed, and was..."
4,The Bogey-Beast,"There was once a woman who was very, very chee...","[There, was, once, a, woman, who, was, very, v...","[There was once a woman who was very, very che..."

In [7]:
from nltk.tokenize import sent_tokenize, RegexpTokenizer
import pandas as pd
from contractions import fix
from os.path import basename, splitext
import glob
from preprocess import clean

#Initialize tokenizer (for word segmentation only)
tk = RegexpTokenizer("[\w]+")

#Make dataframe containting short stories (Cols- Title, Story)
df = pd.DataFrame()
for file in glob.glob("*.txt"):
    with open(file) as f:
        title = f.readline()
        textf = " ".join(line.strip() for line in f)
    df = pd.concat([df,pd.DataFrame(data = {"Title" : title.strip(), "Story" : [textf]})])  

df.reset_index(drop=True, inplace=True)

#Fix contractions
df['Story'] = df['Story'].apply(lambda x: fix(x))
#Word-segmentation
df['Word'] = df['Story'].apply(lambda x: tk.tokenize(x))
#Sentence-segmentation
df['Sent'] = df['Story'].apply(lambda x: sent_tokenize(x))

#Saving as .csv and .json
df.to_json('Segmented.json')
df.to_csv('Segmented.csv',index = False)